.container {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
}

.slick-cell.add-item:before {
    font-style: normal;
    color: black;
    font-size: 14px;
    content: "+";
}

.slick-cell.add-item {
    cursor: move;
}