<!-- SONARQUBE HTML IGNORE START -->
<table #elementTable mat-table [dataSource]="wrappedElements">
  <!-- Container for column with buttons for linking -->
  <ng-container matColumnDef="link" *ngIf="linking">
    <th mat-header-cell *matHeaderCellDef>
      <div *ngIf="linkTo"> Link to</div>
      <div *ngIf="linkFrom"> Link from </div>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button [ngClass]="{'linkFromClass': selectedId == element.id}" (click)="link(element.id)">Here</button>
    </td>
  </ng-container>
  <!-- Container for column with requirement ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element" (contextmenu)="onContextMenu($event,  element.id, element.parentElementId)"> {{documentShortName}}_{{element.id}} </td>
  </ng-container>
  <!-- Container with column for Element Type ID -->
  <ng-container matColumnDef="elementTypeId">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element" (contextmenu)="onContextMenu($event, element.id, element.parentElementId)">
      <div>
        <div class="elementTypeColor" [ngStyle]="{'background-color': element.elementTypeId == 1 ? requirementColor : (element.elementTypeId == 2 ? proseColor : null) }"></div>
        <mat-form-field style="width: 95%">
          <mat-select [value]="element.elementTypeId" (selectionChange)="onElementTypeChange($event, element.id)">
            <mat-option *ngFor="let type of elementTypes" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </td>
  </ng-container>
  <!-- Container for column with parent element id -->
  <ng-container matColumnDef="parentElementId">
    <th mat-header-cell *matHeaderCellDef> Parent </th>
    <td mat-cell *matCellDef="let element" (contextmenu)="onContextMenu($event, element.id, element.parentElementId)"> {{element.parentElementId}} </td>
  </ng-container>
  <!-- Container with Content of Element -->
  <ng-container matColumnDef="content">
    <th mat-header-cell *matHeaderCellDef> Content </th>
    <td mat-cell *matCellDef="let element" style="width: 100%" (contextmenu)="onContextMenu($event,  element.id, element.parentElementId)">
      <div *ngIf="linking">
        <ckeditor *ngIf="linkTo" [config]="editorConfig" [editor]="Editor" data="{{element.content}}"></ckeditor>
        <ckeditor *ngIf="linkFrom" [config]="editorConfig" [editor]="Editor" data="{{element.content}}" (blur)="onBlurCKeditor($event,  element.id)"></ckeditor>
      </div>
      <div *ngIf="!linking">
        <ckeditor [config]="editorConfig" [editor]="Editor" data="{{element.content}}" (blur)="onBlurCKeditor($event,  element.id)" #editorElement></ckeditor>
      </div>
    </td>
  </ng-container>
  <!-- Container for column with Rank of element -->
  <ng-container *ngIf="!linking" matColumnDef="rank">
    <th mat-header-cell *matHeaderCellDef> Rank </th>
    <td mat-cell *matCellDef="let element" (contextmenu)="onContextMenu($event, element.id)"> {{element.rank}} </td>
  </ng-container>
  <!-- Container for column with incoming and outgoing Links -->
  <ng-container *ngIf="showLinks" matColumnDef="links">
    <th mat-header-cell *matHeaderCellDef> Links </th>
    <td mat-cell *matCellDef="let element" (contextmenu)="onContextMenu($event, element.id)">
      <p *ngFor="let link of element.inlinks">Incoming: {{link.fromDocumentShortName}}_{{link.fromElementId}}</p>
      <p *ngFor="let link of element.outlinks">Outgoing: {{link.toDocumentShortName}}_{{link.toElementId}}</p>
    </td>
  </ng-container>

  <!-- Row and header definition -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="!linkTo" style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-elementId="elementId" let-parentId="parentId" let-content="content" let-typeId="typeId">
    <button mat-menu-item (click)="addElementAfter(elementId,parentId)">Add element after</button>
    <button mat-menu-item (click)="addElementBelow(elementId,parentId)">Add element below</button>
    <button mat-menu-item (click)="deleteElement(elementId,parentId)">Delete element</button>
    <button mat-menu-item (click)="saveElement(elementId,parentId, typeId, content )">Save element</button>
    <button *ngIf="!showLinks" mat-menu-item (click)="toggleShowLinks()">Show links</button>
    <button *ngIf="showLinks" mat-menu-item (click)="toggleShowLinks()">Hide links</button>
  </ng-template>
</mat-menu>
<!-- SONARQUBE HTML IGNORE END -->