table {
    width: 100%;
  }

.linkFromClass {
  background-color: gray;
}

.reqTypeRequirement {
  background-color: #40ff2f8e;
  height: 50px;
  width: 5px;
  float: left;
}

.reqTypeProse {
  background-color: rgba(0, 0, 255, 0.562);
  height: 50px;
  width: 5px;
  float: left;
}