<table class="table">
  <thead>
    <tr>
      <th *ngIf="linking">
        <span *ngIf="linkTo">Link to</span>
        <span *ngIf="linkFrom">Link from</span>
      </th>
      <th>ID</th>
      <th>Type</th>
      <th>Parent</th>
      <th>Content</th>
      <th *ngIf="!linking">Rank</th>
      <th *ngIf="showLinks">Links</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of wrappedElements">
      <td *ngIf="linking">
        <ix-button [ngClass]="{'linkFromClass': selectedId == element.id}" (click)="link(element.id)">Here</ix-button>
      </td>
      <td (contextmenu)="onContextMenu($event, element.id)">{{documentShortName}}_{{element.id}}</td>
      <td (contextmenu)="onContextMenu($event, element.id)">
        <div>
          <div class="elementTypeColor" [ngStyle]="{'background-color': element.elementTypeId == 1 ? requirementColor : (element.elementTypeId == 2 ? proseColor : null) }"></div>
          <select class="form-select" style="width: 95%" [ngModel]="element.elementTypeId" (ngModelChange)="onElementTypeChange($event, element.id)">
            <option *ngFor="let type of elementTypes" [ngValue]="type.id">{{type.name}}</option>
          </select>
        </div>
      </td>
      <td (contextmenu)="onContextMenu($event, element.id)">{{element.parentElementId}}</td>
      <td style="width: 100%" (contextmenu)="onContextMenu($event, element.id)">
        <div *ngIf="linking">
          <textarea *ngIf="linkTo" class="form-control" [ngModel]="element.content" readonly></textarea>
          <angular-markdown-editor *ngIf="linkFrom"
            textareaId="editor-{{element.id}}"
            [(ngModel)]="element.content"
            [options]="markdownEditorOptions"
            (blur)="onBlurMarkdownEditor(element.id, element.content)">
          </angular-markdown-editor>
        </div>
        <div *ngIf="!linking">
          <angular-markdown-editor
            textareaId="editor-{{element.id}}"
            [(ngModel)]="element.content"
            [options]="markdownEditorOptions"
            (blur)="onBlurMarkdownEditor(element.id, element.content)">
          </angular-markdown-editor>
        </div>
      </td>
      <td *ngIf="!linking" (contextmenu)="onContextMenu($event, element.id)">{{element.rank}}</td>
      <td *ngIf="showLinks" (contextmenu)="onContextMenu($event, element.id)">
        <p *ngFor="let link of element.inlinks">Incoming: {{link.fromDocumentShortName}}_{{link.fromElementId}}</p>
        <p *ngFor="let link of element.outlinks">Outgoing: {{link.toDocumentShortName}}_{{link.toElementId}}</p>
      </td>
    </tr>
  </tbody>
</table>

<ix-dropdown *ngIf="!linkTo && contextMenuVisible" [show]="contextMenuVisible" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y" style="position: fixed;" (showChanged)="contextMenuVisible = $event">
  <ix-dropdown-item label="Add element after" (click)="addElementAfter(contextElementId)"></ix-dropdown-item>
  <ix-dropdown-item label="Add element below" (click)="addElementBelow(contextElementId)"></ix-dropdown-item>
  <ix-dropdown-item label="Delete element" (click)="deleteElement(contextElementId)"></ix-dropdown-item>
  <ix-dropdown-item label="Save element" (click)="saveElement(contextElementId, null, null, null)"></ix-dropdown-item>
  <ix-dropdown-item *ngIf="!showLinks" label="Show links" (click)="toggleShowLinks()"></ix-dropdown-item>
  <ix-dropdown-item *ngIf="showLinks" label="Hide links" (click)="toggleShowLinks()"></ix-dropdown-item>
</ix-dropdown>
